{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Homepage</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}"> 

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class=" bg-gray-400 ">

            <header>

                <div class="header_inner">

                    <form action="/search" method="POST" >

                    {% csrf_token %}

                    <div class="left-side">

                            <style>

                                h2 {margin-right: 30px; font-size: 1.5rem;}

                            </style>

                            <b><h2>Vistagram</h2></b>

                            <input type="text" name="username" placeholder="Search for user">&nbsp; &nbsp;

                            <button type="submit"><i class="fa fa-search fa-1x"></i></button>

                    </div>

                    </form>

                    <div class="right-side lg:pr-4">

                        <a href="#"

                            class="bg-pink-500 flex font-bold hidden hover:bg-pink-600 hover:text-white inline-block items-center lg:block max-h-10 mr-4 px-4 py-2 rounded shado text-white">

                            <ion-icon name="add-circle" class="-mb-1

                             mr-1 opacity-90 text-xl uilus-circle"></ion-icon> Upload Image

                        </a>

                        <div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small" class="header_dropdown">
    
                            <div class="px-4 py-3 -mx-5 -mt-4 mb-5 border-b">

                                <h4>Upload Image</h4>

                            </div>

                            <div class="flex justify-center flex-center text-center">
    
                                <div class="flex flex-col choose-upload text-center">

                                    <form action="upload" method="POST" enctype="multipart/form-data" >

                                    {% csrf_token %}

                                    <div>

                                        <input type="file" name="uploadimage">

                                        <br>

                                        <textarea class="button soft-warning small" name="caption" placeholder="Caption image" > </textarea>

                                        <br>

                                        <button class="button bg-blue-700" type="submit" > Upload </button>

                                    </div>

                                    </form>
    
                                </div>
    
                            </div>

                        </div>

                        <a> <img src=" {{user_profile.avatar.url}} " class="header-avatar" alt=""> </a>

                        <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">

                            <ul>
                                <li><a href="/profile/{{user_object.username}}">Profile</a></li>
                                <li><a href="/settings"> Profile settings </a> </li>
                                <li><a href="/userlogout"> Log Out</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

            </header>
            <br>

            <div class="homepage_container">

                <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

                    <div class="space-y-5 flex-shrink-0 lg:w-7/12">

                        {% for post in post_feed reversed %}
                        
                        <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0">
    
                            <div class="flex justify-between items-center px-4 py-3">

                                <div class="flex flex-1 items-center space-x-4">

                                    <span class="block capitalize font-semibold " > <a href="/profile/{{post.user}}" style="font-size: large; color: black; " > @{{post.user}} </a> </span>

                                </div>

                            </div>
    
                            <div uk-lightbox >
                                 
                                    <img src="{{ post.postimage.url }}" alt="" width=1000px>

                            </div>
                            
                            <div class="py-3 px-4 space-y-3"> 
                               
                                <div class="flex space-x-4 lg:font-bold">

                                    <a href="/like?post_id={{post.post_id}}" class="flex items-center space-x-2">

                                        <div class="p-2 rounded-full text-black">

                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="25" height="25" class="">

                                                <path d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z" />

                                            </svg>

                                            {% if post.likes == 0 %}

                                            <p>No likes</p>

                                            {% elif post.likes == 1 %}

                                            <p>Liked by {{post.likes}} person </p>

                                            {% else %}

                                            <p>Liked by {{post.likes}} people </p>

                                            {% endif %}

                                        </div>
                                        
                                    </a>

                                </div>

                                <p style="color: black;" > <a href="/profile/{{post.user}}"> <strong> {{post.user}}: </strong> </a> {{post.caption}} </p>
    
                            </div>
    
                        </div>
                        {% endfor %}

                    </div>
                        
                    <div class="lg:w-5/12">

                        <div class="bg-white  shadow-md rounded-md overflow-hidden">

                            <div class="bg-gray-50  border-b border-gray-100 flex items-baseline justify-between py-4 px-6 ">

                                <h2 class="font-semibold text-lg">Recommended Users</h2>

                            </div>
                           
                            <div class="divide-gray-300 divide-gray-50 divide-opacity-50 divide-y px-4 ">

                                {% for suggestion in suggestions_profile_list %}

                                <div class="flex items-center justify-between py-3">

                                    <div class="flex flex-1 items-center space-x-4">

                                        <a href="/profile/{{suggestion.user}}">

                                            <img src="{{suggestion.avatar.url}}" class="bg-gray-200 rounded-full w-10 h-10">

                                        </a>
                                        <div class="flex flex-col">

                                            <span class="block capitalize font-semibold" style="color: black;" > {{suggestion.user}} </span>

                                            <span class="block capitalize text-sm" style="color: black;" > {{suggestion.description}} </span>

                                        </div>

                                    </div>
                                    
                                    <a href="/profile/{{suggestion.user}}" class="border border-gray-200 font-semibold px-4 py-1 rounded-full hover:bg-pink-600 hover:text-white hover:border-pink-600 " style="color: black;"  > View {{suggestion.user}} </a>

                                </div>

                                {% endfor %}

                            </div>

                        </div>

                      

                    </div>

                </div>               
          

            </div>

        </div>

    </div>
</div>








 <!-- Scripts
    ================================================== -->
    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>  
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <!-- <script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script> -->
</body>


</html>